<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WhoLends</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WhoLends", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*@if (Request.IsAuthenticated)
                    {*@
                        <li>@Html.ActionLink("Lends", "Index", "Lends")</li>
                        <li>@Html.ActionLink("LendsItem", "Index", "LendItems")</li>
                    @*}*@
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer id="master" class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">               
                <div class="col-sm-4 col-md-4">
                    <ul class="nav navbar-nav">
                        <li>
                            <a id="back-to-top" href="#">
                                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4">
                    <ul class="nav navbar-nav collapse">
                        <li>
                            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true">@DateTime.Now.Year - Copyright by MBDevs</span>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    @*@scripts.Render("~/bundles/jquery")
    @scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
