@using WhoLends.ViewModels;

@model LendViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ausleihung #@Html.DisplayFor(model => model.Id)</h2>

<div>
    <h4>Detail - Ausleihung</h4>
    <hr/>
    <!-- Lend Area -->
    <div class="row">
        <div class="col-xs-4 col-md-2">
            <dt>
                @Html.DisplayNameFor(model => model.SelectedLendUser)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.From)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.To)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.CurrentUserwithID)
            </dt>
        </div>

        <div class="col-xs-6 col-md-3">
            <dd>
                @Html.DisplayFor(model => model.SelectedLendUser.UserName)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.From)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.To)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.CurrentUserwithID)
            </dd>
        </div>
    </div>

    <br/>
    <!-- LendItem Area -->
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">Lend Item</div>
            <br />
            <div class="container">
                @Html.Partial("~/Views/LendItems/_LendItemDetail.cshtml", Model.SelectedLendItem)
            </div>
            <br />
        </div>
    </div>

    <br />
    <!-- LendReturn Area -->
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">Lend Return</div>
            <br/>
            <div class="container">
                <!-- if not yet returned -->
                @if (Model.To == null)
                {
                    @Html.ActionLink(" erfassen", "../LendReturns/Create", new { id = Model.Id }, new { @class = "btn btn-default" })
                    <br />
                }
                else
                {
                    <!-- Return Detail Partial View -->
                    @Html.Partial("~/Views/LendReturns/_LendReturnDetail.cshtml", Model.LendReturn)
                }
                <br />
            </div>
        </div>
    </div>
</div>
<p>
    <a href="@Url.Action("Index", "Lends")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Zurück
    </a>    
    <a href="@Url.Action("Edit", "Lends", new {  id = Model.Id })" class="btn btn-default">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Bearbeiten
    </a>
    @*@Html.ActionLink("Bearbeiten", "Edit", new {  id = Model.Id }, new { @class = "btn btn-default glyphicon glyphicon-edit" })*@
</p>
