@using WhoLends.ViewModels;

@model LendItemViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Detail - Ausleihgegenstand</h4>
    <br/>
    @*Image*@
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/img/noimg.PNG" />
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/img/noimg.PNG" />
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/img/noimg.PNG" />
            </a>
        </div>
     </div>
    <hr />
    <div class="row">
        <div class="col-xs-4 col-md-2">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Condition)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
        </div>
        <div class="col-xs-6 col-md-3">
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Condition)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy.UserName)
            </dd>
        </div>
    </div>

    <br/>

    <a href="@Url.Action("Index", "LendItems")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Zurück
    </a>
    <a href="@Url.Action("Edit", "LendItems", new {  id = Model.Id })" class="btn btn-default">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Bearbeiten
    </a>   
    @*@Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id }, new { @class = "btn btn-default glyphicon glyphicon-edit" })*@
</div>
