@using System.Configuration
@using WhoLends.ViewModels;

@model LendItemViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @if (ConfigurationManager.AppSettings["CurrentUserRole"].Equals("1"))
    {
        <a href="@Url.Action("Edit", "LendItems", new {id = Model.Id})">
            <span class="glyphicon fa fa-pencil" aria-hidden="true"></span>
        </a>
    }
    @Html.DisplayFor(model => model.Name)
</h2>

<div>
    <h4>Detail - Ausleihgegenstand</h4>
    <br/>
    <!--partial view-->
    @Html.Partial("~/Views/LendItems/_LendItemDetail.cshtml", Model)
    <!---->
    <br/>

    <a href="@Url.Action("Index", "LendItems")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Zurück
    </a>
    @*<a href="@Url.Action("Edit", "LendItems", new {  id = Model.Id })" class="btn btn-default">
        <span class="glyphicon fa fa-pencil" aria-hidden="true"></span>
        Bearbeiten
    </a>*@   
    @*@Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id }, new { @class = "btn btn-default glyphicon glyphicon-edit" })*@
</div>
