@using WhoLends.ViewModels;
@using GridMvc.Html

@model List<LendItemViewModel>

@{
    ViewBag.Title = "LendItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ausleihgegenstände</h2>

<p>
    @Html.ActionLink("Erstellen", "Create")
</p>


@* jquery grid demo http://www.ok-soft-gmbh.com/jqGrid/Lince81.htm *@

<div>
    @Html.Grid(Model).Columns(
    columns =>
    {
        columns.Add(c => c.Id).Titled("ID");
        columns.Add(c => c.CustomerId).Titled("interne ID").Filterable(true);
        columns.Add(c => c.Name).Titled("Name").Filterable(true);
        //columns.Add(c => c.Description).Titled("Beschreibung").Filterable(true);
        columns.Add(c => c.CreatedAt).Titled("Erstellt am").Filterable(true);
        columns.Add(c => c.CreatedBy.UserName).Titled("Erstellt von").Filterable(true);
        columns.Add().Titled("Detail").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Details", "Details", new { id = c.Id }));
        columns.Add().Titled("Edit").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.Id }));
        columns.Add().Titled("Delete").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Delete", "Delete", new { id = c.Id }));
    }).WithPaging(3).Sortable(true)
</div>
