@model WhoLends.ViewModels.LendReturnViewModel

<div>
    <div class="row">
        @if (Model.ReturnImageViewModels == null || !Model.ReturnImageViewModels.Any())
        {
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/img/noimg.PNG"/>
                </a>
            </div>
        }
        else
        {
            foreach (var im in Model.ReturnImageViewModels)
            {
                <div class="col-xs-6 col-md-3">
                    <a href="data:image;base64,@Convert.ToBase64String(im.Content)" class="thumbnail" data-lightbox="@im.FileName">
                        <img src="data:image;base64,@Convert.ToBase64String(im.Content)" />
                    </a>
                </div>
            }
        }
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-4 col-md-2">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <br/>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
        </div>
        <div class="col-xs-4 col-md-2">
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.CurrentUserwithID)
            </dd>
            <br/>
            <dd>
                @Html.Raw(Html.Encode(Model.Description).Replace("\n", "<br />"))
            </dd>
        </div>
    </div>
</div>