@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1">
    <title>@ViewBag.Title - WhoLends</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lightbox")
    @Scripts.Render("~/bundles/mvcGrid")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<img src="~/Content/img/rm_logo.jpg" width="200" class="navbar-brand"/>*@

                <a href="@Url.Action("Index", "Home", new { @class = "navbar-brand"})">
                    <span class="fa fa-cubes fa-2x" aria-hidden="true" style="margin-top: 12px; margin-left: 5px;"></span>
                </a>
                @*@Html.ActionLink("WhoLends", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if(Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Lends", "Index", "Lends")</li>
                        <li>@Html.ActionLink("LendsItems", "Index", "LendItems")</li>

                        if (ConfigurationManager.AppSettings["CurrentUserRole"].Equals("1"))
                        {
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="col-sm-4 col-md-4">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="back-to-top" href="#">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <ul class="nav navbar-nav collapse">
                    <li>
                        <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true">@DateTime.Now.Year - Copyright by MBDevs</span>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
